.sapMPage {
    background-color: #0b1220;
}

.sapUxAPObjectPageLayout {
    background-color: #0b1220;
}

.sapMList {
    background-color: #111827;
}

.sapMLIB {
    border-bottom: 1px solid #1f2937;
}

.sapMLIBSelected {
    background: #172554 !important;
}

.productCard {
    border: 1px solid #3a3a3a;
    border-radius: 12px;
    padding: 1rem;
    background-color: #1e1e1e;
}